<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" role="tabpanel">
            <div class="board-inner radio-check-mbv">
                <div class="slide-nav">
                    <div class="slide-center">
                        <div class="list-check">
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button  *ngFor="let item of productAttributeCheck;let i = index" 
                                [value]="i" [checked]="item.name === productAttributesCheck" 
                                 (change)="onChangeProductAttribute(item.name)"> {{item.name}}</mat-radio-button>
                            </mat-radio-group>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                 
                    <div *ngIf="primaryInformtionTypes">
                            <div class="card-body">
                                <div class="row card-btm">
                                    <div class="col-md-4">
                                           
                                        
                                        <h6 class="card-subtitle mb-2  text-default font-weight-semibold">Product Identification: <i class="fa fa-info-circle" title="This data is from SAP"></i></h6><span class="text-muted">LSR2680FC,
LSR2680,NLR160-80,NLR160-80,T6227</span>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="card-subtitle mb-2 text-default font-weight-semibold ">Relabels: <i class="fa fa-info-circle" title="This data is from SAP"></i><span> N/A</span></h6>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="card-subtitle mb-2 text-default font-weight-semibold ">Chemical Name: <i class="fa fa-info-circle" title="This data is from SAP"></i><span> N/A</span></h6>
                                    </div>
                                </div>
                                <div class="row card-innerProduct-body">
                                    <div class="col-md-12">
                                        <h6 class="card-subtitle mb-2 text-default font-weight-semibold ">Product Application: <i class="fa fa-info-circle" title="This data is from Momentive website"></i></h6>
                                        
                                        <div class="row">
                                            <div class="col-md-4" *ngFor="let data of productApplication">
                                                <div class="text-muted">
                                                    <span class="badge badge-mark border-grey-400 mr-1"></span>
                                                    {{data.app_text}}
                                                </div>
                                            </div>
                                       
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row card-inner-body">
                                    <div class="col-md-12">
                                        <h6 class="card-subtitle mb-2 text-default font-weight-semibold">Registered Quantity Per Legal Entity: <i class="fa fa-info-circle" role="button" title="This data is from SAP"></i></h6>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div *ngIf="ghsLabeling">
                            <div class="card-body">
                                <h6 class="text-default font-weight-semibold">GHS Labeling: <i class="fa fa-info-circle" role="button" title="This data is from SAP"></i></h6>
                        <p-table #dt [columns]="ghsLabelingHeader" [value]="ghsLabelingData" (sortFunction)="customSort($event)" [paginator]="legalpaginator" [rows]="5" [customSort]="true" selectionMode="multiple" [(selection)]="selectedLabelingProducts" [reorderableColumns]="true" >
                            <ng-template pTemplate="caption">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div style="text-align: left">
                                            <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
                                            <input type="text" class="pg-search" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ui-helper-clearfix" style="text-align: right">
                                            <button class="btb pg-button" type="button" label="All Data" (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;
                                            <!-- <button class="btb pg-button" type="button" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})">Selected Only</button> -->
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <br>
                      
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width:2.5em"></th>
                                    <th class="pg-head" *ngFor="let col of columns" [pSortableColumn]="col.field" pReorderableColumn [ngStyle]="{'width': col.width}">
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>  

                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                                <tr [pReorderableRow]="index">
                                    <td>
                                        <i class="fa fa-bars" pReorderableRowHandle></i>
                                    </td>
                                    <td [style]="{'width':'300px'}" *ngFor="let col of columns">
                                        {{rowData[col.field]}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        </div>
                    </div>
                    <div *ngIf="structureAndFormulaTypes">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h6 class="text-default font-weight-semibold mb-2 mh-2">Chemical Structure: <i class="fa fa-info-circle" role="button" title="This data is from Document on Shared Drive - P"></i></h6>
                                        <br>
                                        <h6 class="text-muted">CAS Number: 68083-19-2 </h6>
                                        <img src="../../assets/images/momentive/chemicalStructure.png" />
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="text-default font-weight-semibold mb-2 mh-2">Molecular Formula: <i class="fa fa-info-circle" role="button" title="This data is from TIR & SIP SP"></i></h6>
                                        <br>
                                        <ol class="structure">
                                            <li  class="text-muted"> M1.99 D10.01 D”0.98 T20.01:
                                                where D”= -(CH3)Si-CH2CH2CH2O(EO)7.3-OH</li>
                                            </ol>
                                    </div>

                                    <div class="col-md-4">
                                        <h6 class="text-default font-weight-semibold mb-2 mh-2 ">Molecular Weight:<i class="fa fa-info-circle" role="button" title="This data is from TIR & SIP SP"></i></h6>
                                        <br>
                                        <ol class="structure">
                                            <li class="text-muted">Monoisotopic Molecular Weight: 548.19/788.20 Da</li>
                                            
                                            <li  class="text-muted"> Average Molecular Weight: 548.92/789.43 Da </li>
                                        </ol>

                                    </div>
                                </div>
                            </div>
                        
                    </div>
                    <div *ngIf="compositionTypes">
                            <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <h6 class="text-default font-weight-semibold mb-2 "><span *ngIf="compositionLegalTypes">Legal Composition: <i class="fa fa-info-circle" role="button" title="This data is from SAP"></i></span>
                                <span  *ngIf="compositionHunderdTypes">100% Composition:<i class="fa fa-info-circle" role="button" title="This data is from SAP"></i></span>
                                 <span  *ngIf="compositionStandardTypes">Standard Composition:<i class="fa fa-info-circle" role="button" title="This data is from SAP"></i></span>
                                <span  *ngIf="compositionINCI">INCI Composition:<i class="fa fa-info-circle" role="button" title="This data is from SAP"></i></span></h6>
                            </div>
                            <div class="col-md-3">

                                <mat-form-field>
                                    <mat-label>Composition Types</mat-label>
                                    <mat-select placeholder="Composition" #ref (selectionChange)="compositionProcess(ref.value)">
                                        <mat-option *ngFor="let composition of compositionPart" [value]="composition.value">
                                            {{composition.type}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
               
                                <div class="row" *ngIf="compositionStandardTypes">
                                    <div class="col-md-12" >
                                            <!-- Standard Composition -->                                                         
                                            <p-table #dt [columns]="standardCompositionHead" [value]="standardCompositionData" (sortFunction)="customSort($event)" [paginator]="false" [rows]="5" [customSort]="true" selectionMode="multiple" [(selection)]="selectedStandardCompositionProducts" [reorderableColumns]="true">
                                                    <ng-template pTemplate="caption">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div style="text-align: left">
                                                                    <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
                                                                    <input type="text" class="pg-search" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="ui-helper-clearfix" style="text-align: right">
                                                                    <!-- <button class="btb pg-button" type="button" label="All Data" (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;
                                                                    <button class="btb pg-button" type="button" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})">Selected Only</button> -->
                                                                    <!-- <button class="btb pg-button" (click)="exportStandardXLSX()"><i class="fa fa-file-excel-o">  Export CSV</i></button> -->
                                                                     <button class="btb pg-button"><i class="fa fa-file-excel-o">  Export CSV</i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                    <br>
                                                    <ng-template pTemplate="header" let-columns>
                                                        <tr>
                                                           <th style="width:2.5em"></th>              
                                                            <th class="pg-head" *ngFor="let col of columns" [pSortableColumn]="col.field" pReorderableColumn [ngStyle]="{'width': col.width}">
                                                                    {{col.header}}
                                                                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                                                </th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-rowData let-legalData let-index="rowIndex">
                                                        <tr [pReorderableRow]="index">
                                                            <td>
                                                                <i class="fa fa-bars" pReorderableRowHandle></i>
                                                            </td>
                                                            <td>
                                                                {{legalData.ComponentType}}
                                                            </td>
                                                            <td>
                                                                    {{legalData.Component_Id}}
                                                                </td>
                                                                <td>
                                                                        {{legalData.CAS_Number}}
                                                                    </td>
                                                                    <td>
                                                                           <div *ngFor="let each of legalData.Component_Name">
                                                                               <b>CAS NAME:</b>{{each.cas_name}}<br>
                                                                               <b>IUPAC NAME:</b>{{each.iupac_name}}<br>
                                                                               <b>INCI NAME:</b>
                                                                               <span *ngFor="let eachINCI of each.INCI_Name ,let i=index">
                                                                             {{i+1}}.{{eachINCI}}
                                                                               </span>
                                                                           </div>
                                                                        </td>
                                                                        <td>
                                                                                {{legalData.Value}}
                                                                </td>
                                                        </tr>
                                                    </ng-template>
                                            </p-table>  
                                            
                                        </div>
                                    </div>
                                   
                            <div class="row" *ngIf="compositionLegalTypes">
                                <!-- Legal Composition -->
                             <div class="co-md-12">
                                    <p-table #dt [columns]="legalCompositionHead" [value]="legalCompositionData" (sortFunction)="customSort($event)" [paginator]="false" [rows]="5" [customSort]="true" selectionMode="multiple" [(selection)]="selectedlegalCompositionProducts" [reorderableColumns]="true">
                                            <ng-template pTemplate="caption">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div style="text-align: left">
                                                            <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
                                                            <input type="text" class="pg-search" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="ui-helper-clearfix" style="text-align: right">
                                                            <!-- <button class="btb pg-button" type="button" label="All Data" (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;
                                                            <button class="btb pg-button" type="button" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})">Selected Only</button> -->
                                                            <!-- <button class="btb pg-button" (click)="exportLegalXLSX()"><i class="fa fa-file-excel-o">  Export CSV</i></button> -->
                                                            <button class="btb pg-button"><i class="fa fa-file-excel-o">  Export CSV</i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <br>
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                   <th style="width:2.5em"></th>              
                                                    <th class="pg-head" *ngFor="let col of columns" [pSortableColumn]="col.field" pReorderableColumn [ngStyle]="{'width': col.width}">
                                                            {{col.header}}
                                                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                                        </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData let-legalData let-index="rowIndex">
                                                <tr [pReorderableRow]="index">
                                                    <td>
                                                        <i class="fa fa-bars" pReorderableRowHandle></i>
                                                    </td>
                                                    <td>
                                                        {{legalData.ComponentType}}
                                                    </td>
                                                    <td>
                                                            {{legalData.Component_Id}}
                                                        </td>
                                                        <td>
                                                                {{legalData.CAS_Number}}
                                                            </td>
                                                            <td>
                                                                   <div *ngFor="let each of legalData.Component_Name">
                                                                       <b>CAS NAME:</b>{{each.cas_name}}<br>
                                                                       <b>IUPAC NAME:</b>{{each.iupac_name}}<br>
                                                                       <b>INCI NAME:</b>
                                                                       <span *ngFor="let eachINCI of each.INCI_Name ,let i=index">
                                                                     {{i+1}}.{{eachINCI}}
                                                                       </span>
                                                                   </div>
                                                                </td>
                                                                <td>
                                                                        {{legalData.Value}}
                                                        </td>
                                                </tr>
                                            </ng-template>
                                    </p-table>
                             </div>
                            </div>
                            <div class="row" *ngIf="compositionHunderdTypes">
                                <div class="col-md-12" >
                                        <p-table #dt [columns]="hunderedCompositionHead" [value]="hunderedCompositionData" (sortFunction)="customSort($event)" [paginator]="false" [rows]="5" [customSort]="true" selectionMode="multiple" [(selection)]="selectedhunderedCompositionProducts" [reorderableColumns]="true">
                                                <ng-template pTemplate="caption">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div style="text-align: left">
                                                                <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
                                                                <input type="text" class="pg-search" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                                                      </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="ui-helper-clearfix" style="text-align: right">
                                                                <!-- <button class="btb pg-button" type="button" label="All Data" (click)="dt.exportCSV()">Export CSV Data</button>&nbsp;
                                                                <button class="btb pg-button" type="button" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})">Selected Only</button> -->
                                                                <!-- <button class="btb pg-button" (click)="exportHunderedXLSX()"><i class="fa fa-file-excel-o">  Export CSV</i></button> -->
                                                                <button class="btb pg-button"><i class="fa fa-file-excel-o">  Export CSV</i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                                <br>
                                                <ng-template pTemplate="header" let-columns>
                                                    <tr>
                                                       <th style="width:2.5em"></th>              
                                                        <th class="pg-head" *ngFor="let col of columns" [pSortableColumn]="col.field" pReorderableColumn [ngStyle]="{'width': col.width}">
                                                                {{col.header}}
                                                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                                            </th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-rowData let-legalData let-index="rowIndex">
                                                    <tr [pReorderableRow]="index">
                                                        <td>
                                                            <i class="fa fa-bars" pReorderableRowHandle></i>
                                                        </td>
                                                        <td>
                                                            {{legalData.ComponentType}}
                                                        </td>
                                                        <td>
                                                                {{legalData.Component_Id}}
                                                            </td>
                                                            <td>
                                                                    {{legalData.CAS_Number}}
                                                                </td>
                                                                <td>
                                                                       <div *ngFor="let each of legalData.Component_Name">
                                                                           <b>CAS NAME:</b>{{each.cas_name}}<br>
                                                                           <b>IUPAC NAME:</b>{{each.iupac_name}}<br>
                                                                           <b>INCI NAME:</b>
                                                                           <span *ngFor="let eachINCI of each.INCI_Name ,let i=index">
                                                                         {{i+1}}.{{eachINCI}}
                                                                           </span>
                                                                       </div>
                                                                    </td>
                                                                    <td>
                                                                            {{legalData.Value}}
                                                            </td>
                                                    </tr>
                                                </ng-template>
                                        </p-table>
                                </div>
                            </div>

                            <div class="row" *ngIf="compositionINCI">
                                <div class="col-md-12" >
                                      <h5>INCI Composition</h5>
                                </div>
                            </div>
                         
                        
                    </div></div>
                    <div *ngIf="flowDiagrams">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6 class="text-default font-weight-semibold mb-2 ">Manufacturing Flow Diagram: <i class="fa fa-info-circle" role="button" title="This data is from Document on Shared Drive - P"></i> <span class="img-down"><a href="../../assets/images/momentive/ManufracturingFlowDiagram.png" class="btn btn-primary btn-sm"
                                            target="_self" download>Download</a></span></h6>
                                        <div class="img-content">
                                            <img src="../../assets/images/momentive/ManufracturingFlowDiagram.png" width="80%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6 class="text-default font-weight-semibold mb-2 ">Synthesis Diagram: <i class="fa fa-info-circle" role="button" title="This data is from Document on Shared Drive - P"></i><span class="img-down"><a href="../../assets/images/momentive/SynthesisDiagram.png" class="btn btn-primary btn-sm"
                                            target="_self" download>Download</a></span></h6>
                                        <div class="img-content">
                                            <img src="../../assets/images/momentive/SynthesisDiagram.png"></div>
                                    </div>
                                </div>
                            </div>
                     </div> 
                    <div class="clearfix"></div>
            </div>
        </div>
    </div>