.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}
.ontology-box {
    background:#fff;
}
.pdf-editor{
    cursor: pointer;
    color:#1a355e
}

textarea.form-control {
    height: 70px;
}
.mr-1{
    float: right;
}
.momentive-btn {
    color: #fff;
    background: #1a355e;
    border-radius: 0px;
    font-size: 12px;
    padding: 8px;
  }
  
  .doc-btn {
    padding: 5px;
    margin-top: -7px;
    color: #fff;
    background: #1a355e;
    border-radius: 0px;
    font-size: 12px;
  }
.table-bc {
    background: #fff;
} 
.fa-success{
    color: #28a745;
    cursor: pointer;
}
.fa-primary {
    color: #138496;
    cursor: pointer;
}
.fa-danger {
    color: #dc3545;
    cursor: pointer;
}
.icon-edit{
    display:grid;
    text-align:center;
}
.table td, .table th {
    padding: 0.50rem 0.5rem !important;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.docs-btn {
    margin: 0px 0px -5px 0px;
    color: #fff;
    background-color: #1a355e;
    border: 0px;
    border-radius: 5%;
}
.docs-dir{
    text-align: right;
}
.ng-select.custom ::ng-deep .ng-arrow-wrapper {
    width: 25px;
    padding-right: 5px;
    display: none;
    }
    
    .ng-select.custom ::ng-deep .ng-dropdown-panel.ng-select-bottom .ng-dropdown-panel-items .ng-option:last-child {
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px;
    }
    .ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-value {
    font-size: .9em;
    margin-bottom: 5px;
    background-color: #1a355e !important;
    border-radius: 2px;
    margin-right: 5px;
    }
    .ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-value .ng-value-label {
    display: inline-block;
    padding: 1px 5px;
    color: #fff;
    }
    .ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
    border-right: 1px solid #1a355e;
    color: #fff;
    }
    
    .ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
    background-color: #1a355e;
    color: #fff;
    }
    
    .ng-select.custom ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 8px 10px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    font-weight: bolder;
    font-size: 15px;
    background: whitesmoke;
    }
  