/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
html, body { height: 100%; overflow-y: scroll;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 9999!important;
}
/* html.modal-open {
    -ms-overflow-style: scrollbar;
    overflow: hidden;
    height: 100%;
}

body.modal-open {
  overflow: auto !important;
  height: 100%;
} */