<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <label class="text-default font-weight-semibold"><h6><b>Unassigned File Name - {{filename}}</b> </h6></label>
            <div>
            <embed class="food-document" alt="Thumbnail [200x250]" [src]='Url' type="application/pdf" style="width:650px; height:600px;">
            </div>
        </div>

    <div class="col-md-6 col-xs-6">
            <div class="row">
                <div class="col-md-6">
                    <label class="text-default font-weight-semibold"><h4><b>Search Parameter : {{productName}}</b></h4></label>
                </div>
                  <div class="col-md-6 docs-dir">
                    <button class="docs-btn" ><i class="fa fa-edit" (click)="editOntology(extarctPDFData)" title="Edit"> Edit</i> </button> &nbsp; 
                    <button class="docs-btn" > <i class="fa fa-share" title="Update" (click)="updateOntology(extarctPDFData)"> Update</i></button> &nbsp; 
                    <!-- <button class="docs-btn" > <i class="fa fa-eye" (click)="ReadOntology(extarctPDFData)" title="Delete"> ReadIT</i> </button> -->
                  </div>
                  </div>
            

<table class="table table-bordered table-bc">
    <thead>
        <th>Keys </th>
        <th>Values</th>
    </thead>
    <tbody>
        <tr>
            <td>
               <b>Key</b>
            <td>
            <div class="forms">
                <div class="reactive-form">   
                    <form autocomplete="off" novalidate [formGroup]="reactiveForm" (ngSubmit)="submitProduct(Searchname)">
                       <div class="row">
                            <div class="col-md-12">
                            <div class="new-search">
                            <ng-select #code class="custom" [items]="ontology_Lsr_key"
                            bindLabel="name"
                            [readonly]="disabledkey"
                            formControlName="Searchname"
                            [closeOnSelect]="true"
                            placeholder="Select key"
                            [markFirst]="true"
                            [hideSelected]="false"
                            appendTo="body"
                            groupBy="product"
                            [searchable]="true"
                            [dropdownPosition]="'bottom'"
                             multiple="true"
                            (change)="onChangeData($event)"
                            (remove)="clearCheck($event)"
                            [(ngModel)]="ontologyExtractKey">
                          </ng-select> 

                        </div>  
                     </div>
                       
                       </div>
                    </form>
                </div>
            </div></td>
        
        </tr>
        <tr *ngFor="let data of extarctPDFData | keyvalue : intialSort; let i = index">
            <td width="20%"><b>{{data.key}}</b></td>
            <td width="65%">
                <textarea class="form-control" [disabled]="disabledCondition"  type="text" [(ngModel)]="data.value" name=value-{{i}} (keyup)="documentKey(data)"></textarea></td>
            <!-- <td>{{data.value}}</td><input class="form-control" type="text" formControlName="extractNamedetails" name="extractNamedetails"> -->
        </tr>
    
    </tbody>
</table>

        </div>
    </div>
</div>


